.book-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.book-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.book__title {
    font-size: 1.2rem;
    text-align: center;
}

.book__isbn {
    text-align: center;
    color: #696868;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.book__blurb {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight:500;
    font-style: italic;
}